header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top-style: 0px solid;
    
}
.image {
    background-color: white;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: 20px;
    display: block;
}